body{
  background-color: #020a21;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.calculator{
  width: fit-content;
  background-color: #080A0A;
  padding: 16px;
  border-radius: 16px ;
}
.display{
  border: 1px solid;
  margin-bottom: 8px;
  padding: 15px 10px;
  text-align:right;
  font-size: xx-large;
  border-radius: 8px;
  background-color: white;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 5px;
}

.button{
  padding: 20px 0px;
  text-align: center;
  border-radius: 8px;
  font-size: large;
}

.function{
  background-color: coral;
}

.number{
  background-color: bisque;
}

#num0{
  grid-column-start: 1;
  grid-column-end: 3;
}
